*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

img {
   max-width: 100%;
}

input {
    all: unset;
}

ul,
li,
menu{
	list-style: none;
}

.container {
    width: 1080px;
    margin: 0 auto;
}

/* UTILITIES */

.row{
    display: flex;
}

.bg-light-grey1{
    background-color: var(--light-grey1);
}

.bg-blue-sky{
    background-color: var(--blue-sky);
}

.bg-light {
    background-color: var(--light);
}

/* PALETTE COLORI */

:root {
    --blue-sky: #8EDAFD;
    --light-green: #D7F8BD;
    --dark-green: #019689;
    --grey:#757575;
    --light-grey1: #EBE9EB;
    --light-grey2: #DBDAD7;
    --light: #FFFEFF;
    --dark: #010001;
}


/* BACKGROUND APP */


#app{
    height: 100vh;
    overflow: hidden;
    display: flex;
    flex-direction: column;
}

#app::before {
    content: "";
    background-color: var(--dark-green);
    flex-grow: 2;
}

#app::after {
    content: "";
    background-color: var(--light-grey2);
    flex-grow: 10;
}



/* MAIN APP */

.main-app{
    position: relative;
    display: flex;
    justify-content: center;
} 

.position-app{
    position: absolute;
    top: -125px;
}

.app-section-chat{
    flex-grow: 1;
    display: flex;
    flex-direction: column;
}


/* APP SECTION LEFT */

.app-item,
.app-search{
    display: flex;
    align-items: center;
    padding: 10px 15px;
}

.app-item{
    gap: 10px;
}

.user{
    display: flex;
    align-items: center;
    gap: 10px;
    flex-grow: 1;
}

.icon-img{
    max-width: 50px;
    border-radius: 50px ;
}

.user-name,
.alert-banner h2{
    font-size: 15px;
    font-weight: bold;
}

.text-down{
    font-size: 12px;
    font-weight: bold;
}

.fa-bell-slash{
    background-color: var(--light);
    color: var(--blue-sky);
    border-radius: 50px;
    width: 50px;
    aspect-ratio: 1;
    padding: 15px;
}

.search-btn{
    padding: 12px;
    width: 65px;
    background-color: var(--light);
    color: var(--grey);
}

.search-bar{
    padding: 10px;
    width: 100%;
}

.search-bar,
.search-btn{
    border: 1px solid var(--light-grey2);
}

.contact-list{
    border-top: 1px solid var(--light-grey2);
    border-bottom: 1px solid var(--light-grey2);
    display: flex;
    align-items: center;
    flex-direction: column;
}

.contact-list li {
    border-top: 1px solid var(--light-grey2);
    border-bottom: 1px solid var(--light-grey2);
    padding: 10px 15px;

}

.chat-preview{
    color: var(--grey);
    font-size: 13px;
}

.chat-time{
    font-size: 10px;
    align-self: start;
}


/* APP SECTION CHAT */

.fa-message,
.fa-ellipsis-vertical{
    color: var(--grey);
}

.chat-content{
    background-image: url(../img/mine.jpg);
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    gap: 15px;
    padding: 40px;
    display: none;
}

.chat-keyboard{
    background-color: var(--light-grey1);
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 10px;
}

.chat-keyboard input{
    padding: 10px;
    width: 80%;
    border-radius: 10px;
    border: 1px solid var(--light);
    background-color: var(--light);
}

.chat-keyboard i {
    font-size: 20px;
}

.message {
    background-color: var(--light);
    padding: 10px;
    border-radius: 12px;
}

.sent{
    align-self: flex-end;
    background-color: var(--light-green);
}

.received{
    align-self: flex-start;
}

.active {
    display: flex;
}

/* DEBUG */

.debug #app {
    border: 2px solid black;
}

.debug .container{
    border: 2px solid red;
    padding: 20px;
}

.debug .app-section-chat,
.debug .app-section-left{
    border: 2px solid green;
}